body {
background-color: lightgray;
}

.sedans {
    background-color:#E28625 ;
    display: grid;
}

.suvs {
background-color: #006971;
display: grid;
}

.luxury {
    background-color: #004140 ;
    display: grid;
}
